.playList-Item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listItem-img {
  height: 100px;
  margin-right: 20px;
}
.icon-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.song-info-con {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon {
  margin-left: 10px;
}
